{% load static %}
<!-- start footer -->
<section class="footer-section bg-section-2 section-padding">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-4 g-4">
      <div class="col">
        <div class="footer-widget-6">
          <img src="static/images/logo.jpg" class="logo-img mb-3" alt="" />
          <h5 class="mb-3 fw-bold">About Us</h5>
          <p class="mb-2">UrbanVox: Innovating since 2010, fusing urban style with horological precision, creating timepieces that resonate with contemporary aesthetics and sustainability.</p>
        </div>
      </div>
      <div class="col">
        <div class="footer-widget-7">
          <h5 class="mb-3 fw-bold">Explore</h5>
          <ul class="widget-link list-unstyled">
            <li>
              <a href="javascript:;">Analog</a>
            </li>
            <li>
              <a href="javascript:;">Smart</a>
            </li>
            <li>
              <a href="javascript:;">Digital</a>
            </li>
            <li>
            
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footer-widget-8">
          <h5 class="mb-3 fw-bold">Company</h5>
          <ul class="widget-link list-unstyled">
            <li>
              <a href="{% url 'about-us' %}">About Us</a>
            </li>
            <li>
              <a href="{% url 'contact-us' %}">Contact Us</a>
            </li>
            <li>
              <a href="javascript:;">FAQ</a>
            </li>
            <li>
              <a href="javascript:;">Privacy</a>
            </li>
           
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footer-widget-9">
          <h5 class="mb-3 fw-bold">Follow Us</h5>
          <div class="social-link d-flex align-items-center gap-2">
            <a href="javascript:;"><i class="bi bi-facebook"></i></a>
            <a href="javascript:;"><i class="bi bi-twitter"></i></a>
            <a href="javascript:;"><i class="bi bi-linkedin"></i></a>
            <a href="javascript:;"><i class="bi bi-youtube"></i></a>
            <a href="javascript:;"><i class="bi bi-instagram"></i></a>
          </div>
          <div class="mb-3 mt-3">
            <h5 class="mb-0 fw-bold">Support</h5>
            <p class="mb-0 text-muted">urbanvox@gmail.com</p>
          </div>
          <div class="">
            <h5 class="mb-0 fw-bold">Toll Free</h5>
            <p class="mb-0 text-muted">1800- 8xx 2xx</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class="my-5"></div>
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h5 class="fw-bold mb-3">Download Mobile App</h5>
        </div>
        <div class="app-icon d-flex flex-column flex-sm-row align-items-center justify-content-center gap-2">
          <div>
            <a href="javascript:;"><img src="static/images/play-store.webp" width="160" alt="" /></a>
          </div>
          <div>
            <a href="javascript:;"><img src="static/images/apple-store.webp" width="160" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</section>
<!-- end footer -->

<footer class="footer-strip text-center py-3 bg-section-2 border-top positon-absolute bottom-0">
  <p class="mb-0 text-muted">© 2022. www.urbanvox.com | All rights reserved.</p>
</footer>
